body { 
    background: url(https://i.pinimg.com/originals/31/3e/62/313e62bce31b246ef17d89d36b774ac8.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }
  h1{
    text-transform: uppercase;
  }
  
  
  